@import url('./media/article.css');
.article {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

/* 轮播图 */
.article .bg {
    width: 100%;
    height: 100%;
    position: relative;
}

.article .bg>div {
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: opacity .5s linear;
}

.article .bg>div.active {
    opacity: 1;
}

/* top */
.article .top {
    width: 100%;
    height: 150px;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, .3), transparent);
}

/* 选项卡 */
.top .select {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.top .select .selt_items {
    display: flex;
}

.top .select .selt_items>div {
    width: 100px;
    height: 65px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 15px 0 15px 0;
    overflow: hidden;
    border: solid 1px rgb(210, 210, 210);
    box-sizing: border-box;
    margin: 0 4px;
    cursor: pointer;
    transition: all .1s linear;
}

.top .select .selt_items>div div {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
    backdrop-filter: blur(1px);
    transition: all .1s linear;
}

.top .select .selt_items>div.active,
.top .select .selt_items>div:hover {
    border: solid 2px rgb(240, 240, 240);
}

.top .select .selt_items>div.active div,
.top .select .selt_items>div:hover div {
    background-color: rgba(0, 0, 0, 0);
    backdrop-filter: blur(0);
}

/* 左右箭头 */
.top .select .top_btn,
.top .select .bottom_btn {
    color: rgb(255, 255, 255);
    cursor: pointer;
    animation: btn 1.5s linear infinite alternate;
    transition: text-shadow .1s linear;
}

.top .select .top_btn:hover,
.top .select .bottom_btn:hover {
    text-shadow: 0 0 10px white;
}

.top .select .top_btn span,
.top .select .bottom_btn span {
    font-size: 50px;
}

@keyframes btn {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0.6;
    }
}

/* bottom */
.article .bottom {
    width: 100%;
    height: 50px;
    background-image: linear-gradient(to top, rgba(0, 0, 0, .4) 95%, transparent);
    backdrop-filter: blur(3px);
    position: absolute;
    bottom: 0;
    left: 0;
}

.article .bottom .img_info {
    width: 100%;
    height: 100%;
    position: relative;
}

.article .bottom .img_info div {
    width: 80%;
    position: absolute;
    display: inline-block;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 0%);
    opacity: 0;
    padding: 10px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all .5s linear;
}

.article .bottom .img_info div:hover {
    text-decoration: underline;
    cursor: pointer;
}

.article .bottom .img_info div.active {
    opacity: 1;
    transform: translate(-50%, -50%);
}