.home_page {
    width: 100%;
    height: calc(100vh - 65px);
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}

.home_page .bg {
    width: 100%;
    height: 100%;
}

.home_page .bg .white,
.home_page .bg .black {
    font-family: 'berlinsr';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 6%;
    box-sizing: border-box;
}

@keyframes jianbian {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.home_page .bg .vue {
    flex-shrink: 0;
    width: 480px;
    height: 410px;
    margin-right: 60px;
    position: relative;
    opacity: 0;
    transform: translateY(100px) scale(0.8);
    animation: jianbian 1.2s .6s cubic-bezier(0.1, 0.57, 0.24, 0.94) forwards;
}

.home_page .bg .vue div {
    width: 100%;
    height: 100%;
    position: absolute;
}

.home_page .bg .vue .bottom {
    z-index: 1;
    background-color: rgb(0, 106, 57);
    -webkit-clip-path: polygon(0% 0, 100% 0, 50% 100%);
    clip-path: polygon(0% 0, 100% 0, 50% 100%);
}

.home_page .bg .vue .center {
    z-index: 2;
    background-color: rgb(1, 13, 37);
    -webkit-clip-path: polygon(20% 0, 80% 0, 50% 60%);
    clip-path: polygon(20% 0, 80% 0, 50% 60%);
}

.home_page .bg .vue .top {
    z-index: 3;
    background-color: rgb(240, 240, 240);
    -webkit-clip-path: polygon(40% 0, 60% 0, 50% 100%);
    clip-path: polygon(40% 0, 60% 0, 50% 20%);
}

@keyframes text {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-30px);
    }

    100% {
        transform: translateY(0);
    }
}

.home_page .bg .title span:nth-child(1) {
    animation: text .5s 1.5s linear forwards;
}

.home_page .bg .title span:nth-child(2) {
    animation: text .5s 1.6s linear forwards;
}

.home_page .bg .title span:nth-child(3) {
    animation: text .5s 1.7s linear forwards;
}

.home_page .bg .title span:nth-child(4) {
    animation: text .5s 1.8s linear forwards;
}

.home_page .bg .title span:nth-child(5) {
    animation: text .5s 1.9s linear forwards;
}

.home_page .bg .title span:nth-child(6) {
    animation: text .5s 2.0s linear forwards;
}

.home_page .bg .title span:nth-child(7) {
    animation: text .5s 2.1s linear forwards;
}

.home_page .bg .title span:nth-child(8) {
    animation: text .5s 2.2s linear forwards;
}

.home_page .bg .title span:nth-child(9) {
    animation: text .5s 2.3s linear forwards;
}

.home_page .bg .title span:nth-child(10) {
    animation: text .5s 2.4s linear forwards;
}

.home_page .bg .title {
    font: 500 65px '楷体';
    margin-bottom: 55px;
    opacity: 0;
    transform: translateY(100px);
    animation: jianbian 1.2s 1s cubic-bezier(0.1, 0.57, 0.24, 0.94) forwards;
    display: flex;
    user-select: none;
}

.home_page .bg .title span {
    margin: 0 3px;
}

.home_page .bg .subtitle {
    width: 0;
    display: inline-block;
    margin-top: 70px;
    overflow: hidden;
    position: relative;
    animation: clipPath 11s 2.5s linear forwards infinite;
    user-select: none;
}

.home_page .bg .subtitle p {
    font: 1 120px 'berlinsr';
    letter-spacing: 3px;
    box-sizing: border-box;
    padding: 0 15px;
}

.home_page .bg .subtitle p:nth-child(1) {
    color: transparent;
}

.home_page .bg .subtitle p:nth-child(2) {
    position: absolute;
    top: 0;
    left: 0;
}

@keyframes clipPath {
    0% {
        width: 0;
    }

    1% {
        width: 0;
    }

    2% {
        width: 95px;
    }

    5% {
        width: 95px;
    }

    6% {
        width: 160px;
    }

    9% {
        width: 160px;
    }

    10% {
        width: 222px;
    }

    12% {
        width: 222px;
    }

    13% {
        width: 250px;
    }

    14% {
        width: 250px;
    }

    15% {
        width: 280px;
    }

    16% {
        width: 280px;
    }

    17% {
        width: 330px;
    }

    100% {
        width: 330px;
    }
}

@keyframes dayin {
    0% {
        background-color: rgb(0, 106, 57);
    }

    100% {
        background-color: transparent;
    }
}

.home_page .bg .subtitle:nth-child(2)::after {
    content: '';
    display: inline-block;
    width: 5px;
    height: 100%;
    margin-left: 17px;
    animation: dayin .8s linear alternate infinite;
    position: absolute;
    right: 0;
    top: 0;
}

.home_page .bg .white {
    -webkit-clip-path: polygon(100% 0, 0 0, 0 100%);
    clip-path: polygon(100% 0, 0 0, 0 100%);
    background-color: rgb(240, 240, 240);
}

.home_page .bg .black {
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%);
    background-color: rgb(30, 30, 30);
    color: white;
}

.next_page {
    position: absolute;
    right: 8%;
    bottom: 8%;
    animation: opacity .3s 2s linear, next_page 1s linear alternate infinite;
    cursor: pointer;
}

.next_page span {
    font-size: 90px;
    color: rgb(0, 106, 57);
}

@keyframes next_page {
    0% {
        transform: translateY(0);
        opacity: .9;
    }

    100% {
        transform: translateY(15px);
        opacity: .4;
    }
}

/* 水印 */

@keyframes opacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.watermark {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    opacity: 0;
    animation: opacity .5s .2s linear forwards;
    user-select: none;
}

@keyframes watermark {
    0% {
        text-shadow: 0 0 1px rgba(104, 104, 104, 0.8);
    }

    5% {
        text-shadow: 0 0 1px rgba(104, 104, 104, 0.8);
    }

    95% {
        text-shadow: 0 0 8px rgba(104, 104, 104, 0.8);
    }

    100% {
        text-shadow: 0 0 8px rgba(104, 104, 104, 0.8);
    }
}

.watermark span {
    position: absolute;
    color: transparent;
    opacity: .1;
    font-weight: bolder;
    font-family: '微软雅黑';
    text-shadow: 0 0 1px rgba(104, 104, 104, 0.8);
    animation: watermark 2.5s linear infinite alternate;
}

/* 重复水印 */
.watermark span[name=github] {
    transform: rotate(70deg);
    font-size: 85px;
    left: 20%;
    top: 65%;
}

.watermark span[name=thinkphp] {
    font-size: 70px;
    left: 48%;
    top: 40%;
}

.watermark span[name=java] {
    transform: rotate(10deg);
    font-size: 75px;
    left: 70%;
    top: 20%;
}

.watermark span[name=php] {
    font-size: 50px;
    left: 85%;
    top: 8%;
}

/* white watermark */
.watermark span[name=website] {
    transform: rotate(28deg);
    font-size: 45px;
    left: 8%;
    top: 8%;
}

.watermark span[name=qianduan] {
    transform: rotate(-45deg);
    font-size: 75px;
    top: 5%;
    left: 21%;
}

.watermark span[name=git] {
    transform: rotate(-10deg);
    font-size: 60px;
    top: 15%;
    left: 40%;
}

.watermark span[name=jquery] {
    transform: rotate(8deg);
    left: 65%;
    top: 6%;
    font-size: 60px;
}

.watermark span[name=html] {
    transform: rotate(15deg);
    left: 55%;
    top: 25%;
    font-size: 25px;
}

.watermark span[name=kuangjia] {
    transform: rotate(-30deg);
    font-size: 48px;
    left: 35%;
    top: 45%;
}

.watermark span[name=sass] {
    transform: rotate(17deg);
    font-size: 38px;
    left: -1%;
    top: 32%;
}

.watermark span[name=vue] {
    transform: rotate(23deg);
    font-size: 55px;
    left: -1%;
    top: 65%;
}

.watermark span[name=houduan] {
    transform: rotate(40deg);
    font-size: 50px;
    left: 88%;
    top: 30%;
}

.watermark span[name=system] {
    transform: rotate(10deg);
    font-size: 45px;
    left: 95%;
    top: 45%;
}

.watermark span[name=ubuntu] {
    font-size: 30px;
    top: 52%;
    left: 80%;
}

.watermark span[name=node] {
    transform: rotate(-52deg);
    font-size: 63px;
    left: 64%;
    top: 64%;
}

.watermark span[name=python] {
    transform: rotate(10deg);
    font-size: 70px;
    left: 48%;
    top: 82%;
}

.watermark span[name=linux] {
    transform: rotate(60deg);
    font-size: 57px;
    left: 82%;
    top: 92%;
}